@import "../../abstracts/variables";

.footer {
  background-color: black;
  grid-column: 1 / -1;
  grid-row: footer-start / footer-end;
  padding: 4rem;

  &__content {
    columns: 2;
    column-gap: auto;
    column-rule: 0.6px solid $color-grey-light-3;
  }

  &__features {
    padding: 3rem;

    ul {
      list-style: none;

      li {
        font-size: 2rem;
      }
    }

    &-link {
      text-decoration: none;
      color: currentColor;
      transition: all 0.2s;

      &:hover {
        text-decoration: underline;
        color: $color-primary;
        transform: translateY(-3px);
      }
    }
  }

  &__contact {
    padding: 4rem;
    transition: all 0.2s;

    &-icons {
      display: flex;
      flex-wrap: wrap;
    }

    &-link {
      margin-top: 1.5rem;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    &-icon {
      height: 3rem;
      width: 3rem;
      fill: $color-grey-light-3;

      &:hover {
        transform: translateY(-4px);
        fill: $color-primary-light;
      }
    }
  }
}

.copyright {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  transform: translateY(50%);

  &::before,
  &::after {
    content: "";
    height: 1px;
    display: block;
    background-color: currentColor;
  }
}
