@import "../../abstracts/variables";

%button {
  width: 15rem;
  height: 4.5rem;
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  color: #fff;
  border-radius: 0.8rem;
  font-size: 2rem;
  cursor: pointer;
}

.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-grey-dark-3, 0.9);
  position: fixed;
  z-index: 50;

  display: flex;
  justify-content: center;
  align-items: center;

  &__notification {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__container {
    width: 50rem;
    max-height: 100%;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1.5rem $color-grey-dark-2;
    padding: 2.5rem;

    display: flex;
    flex-flow: column;
  }

  &__close-btn {
    display: flex;
    justify-content: flex-end;

    button {
      background-color: transparent;
      border: none;
      font-size: 2.5rem;
      cursor: pointer;
    }
  }

  &__title {
    display: inline-block;
    text-align: center;
    // margin-top: 1rem;
    color: #000;
  }

  &__body {
    flex: 0 0 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: currentColor;
    width: 100%;

    input,
    &-select {
      padding: 0.3rem 0.5rem;
      border-radius: 0.7rem;
      height: 3rem;
      width: 100%;
    }

    &-select {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &-date {
      margin-bottom: 0.7rem;
    }

    &-select label,
    &-date h3 {
      text-align: left;
      font-size: 2rem;
      font-weight: 400;
      color: #000;
    }

    &-select label::after,
    &-date h3::after {
      content: ":";
    }

    button[type="submit"] {
      @extend %button;
      background-color: $color-primary;
      align-self: start;
      margin-top: 2rem;

      &:hover {
        background-color: lighten($color-primary, 6%);
      }
    }
  }

  &__footer {
    flex: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      @extend %button;
      background-color: rgb(231, 56, 56);
      margin-top: -5.3rem;

      &:hover {
        background-color: lighten(rgb(231, 56, 56), 5%);
      }
    }
  }
}
