@import "../../abstracts/variables";

.header {
  grid-column: 1 / -1;
  grid-row: header-start / header-end;

  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.5),
      rgba($color-primary-light, 0.5)
    ),
    url("../../../assets/img/hs-front.jpg");
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-columns: minmax(15rem,80rem) 1fr;
  grid-template-rows: repeat(2, 1fr);
}

// User part
.user {
  justify-self: end;
  padding: 2rem;
  position: relative;
  transition: all .2s;

  &__img-btn {
    border: none;
    background: $color-grey-light-3;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    margin: 3rem;
    z-index: 1;
  }

  &__icon {
    height: 5rem;
    width: 5rem;
  }

  &__options {
    background-color: #fff;
    padding: 0.5rem;
    width: 13rem;
    height: 20rem;
    margin-top: -3.8rem;

    display: flex;
    flex-flow: column;
    justify-content: space-around;

    h5 {
      text-align: center;
      color: $color-grey-dark-1;
      border-bottom: 1px solid $color-grey-dark-2;
    }

    button {
      border: none;
      background: none;
      font-size: 1.5rem;
      padding-bottom: .3rem;
      border-bottom: 1px solid $color-grey-dark-3;
      cursor: pointer;
    }

    button:hover{
      background-color: $color-grey-dark-2;
      transform: translateY(-.2rem);
    }
  }
}

//Title part
.title{
  color: $color-grey-light-1;
  font-family: 'Playfair Display', serif;
  font-size: 12rem;
  margin-top: -11rem;
  margin-right: -13rem;
  text-shadow: 6px 5px #558abb;
  justify-self: end;
}
