@import "../../abstracts/variables";
@import "../../abstracts/mixins";

.header {
  grid-column: 1 / -1;
  grid-row: header-start / header-end;

  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.5),
      rgba($color-primary-light, 0.5)
    ),
    url("../../../assets/img/hs-front-min.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  display: grid;
  grid-template-columns: minmax(15rem, 80rem) 1fr;
  grid-template-rows: repeat(2, 1fr);

  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    background-image: linear-gradient(
        to right,
        rgba($color-primary-light, 0.5),
        rgba($color-primary-light, 0.5)
      ),
      url("../../../assets/img/hs-front.jpg");
  }

  nav {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    img {
      width: 20rem;
      height: 20rem;
      @include adjust(tab-port-min) {
        height: 25rem;
      }
    }
  }

  &__content {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    margin-top: -10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

// User part
.user {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  justify-self: end;
  padding: 2rem;
  position: relative;
  transition: all 0.2s;

  &__img-btn {
    border: none;
    background: $color-grey-light-3;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    margin: 3rem;
    z-index: 1;
  }

  &__icon {
    height: 5rem;
    width: 5rem;
  }

  &__options {
    background-color: #fff;
    padding: 0.5rem;
    width: 13rem;
    max-height: 20rem;
    margin-top: -3.8rem;

    display: flex;
    flex-flow: column;
    justify-content: space-around;

    h5 {
      text-align: center;
      word-wrap: break-word;
      color: $color-grey-dark-1;
      border-bottom: 1px solid $color-grey-dark-2;
      line-height: 1;
    }

    &-link {
      text-decoration: none;
      text-align: center;
      font-size: 2rem;
      color: currentColor;
      padding-bottom: 0.3rem;
      border-bottom: 1px solid $color-grey-dark-3;
      cursor: pointer;
    }

    &-link:hover {
      color: $color-primary;
      transform: translateY(-0.2rem);
    }
  }
}

//Title part
.title {
  color: $color-grey-light-1;
  font-family: "Playfair Display", serif;
  font-size: 12rem;
  text-shadow: 6px 5px #558abb;
  justify-self: end;

  @media only screen and (max-width: 33.75em) {
    //540px
    font-size: 10rem;
  }

  @media only screen and (max-width: 29.38em) {
    //540px
    font-size: 8rem;
    text-align: center;
  }
}

.modal-btn {
  height: 5rem;
  width: 30rem;
  text-transform: uppercase;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  background-color: $color-primary;
  color: #fff;
  position: relative;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
  }

  &__visible {
    padding: 2rem 7.5rem;
    visibility: visible;
  }

  &__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
    visibility: hidden;
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      $color-primary-light,
      $color-primary-dark
    );
  }

  &:hover &__visible {
    transform: translateY(100%);
    visibility: hidden;
  }

  &:hover &__invisible {
    top: 0;
    visibility: visible;
  }

  &:focus {
    outline: none;
  }
}
